.app {
  width: 400px;
  margin: 30px auto;
}

.createButton {
  border: 2px solid #4dd6f7;
  border-radius: 100%;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  outline: none;
  font-size: 20px;
}

.createButton:hover {
  background-color: #eefffa;
}

.createButton:active {
  background-color: #dcfcff;
}

.inputField {
  margin: 0 20px;
  padding: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #aaaaaa;
  border-radius: 2px;
  width: 310px;
  height: 25px;
  font-size: 18px;
  font-family: "Century Gothic", Arial;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid #4dd6f7;
}

.todoList {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.todoListItem {
  border-bottom: 1px solid #aaaaaa;
  padding: 20px 5px 5px;
  font-size: 20px;
  font-family: "Century Gothic", Arial;
}

.itemControls {
  float: right;
}

.removeBtn {
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  color: #ffffff;
  border: 2px solid #e20000;
  border-radius: 5px;
  text-align: center;
  padding: 0;
}